.container {
    margin: 0 1em 0 1em;
}

h2 {
    padding-top: 2em;
}

p {
    padding: 0 2em;
}

.emoji {
    font-size: 5em;
    margin-top: 0.4em;
    margin-bottom: 0;
}

.startButton {
    margin: 2em 0.3em 0.3em 0;
    font-size: 1.5em;
}

.aboutButton{
    font-size: 1.5em;
    padding-left: 0.7em;
    padding-right: 0.7em;
    margin-right: 0.5em;
}

@media only screen and (min-width: 768px) {
    .emoji {
        font-size: 7em;
    }
    
    .startButton {
        margin: 2em 0.3em 0.3em 0;
        font-size: 2.5em;
    }
    
    .aboutButton{
        font-size: 2.5em;
    }
} 